html{
    height:100%;
}

body{
    background-color: #1e232a;
    font-family: 'Roboto', sans-serif;
    height:100%;
}

#readout{
    font:bold 50px 'Roboto', sans-serif;
    color:#e9ecf0;
    height:70px;
    text-align: center;
    padding-top:0px;
    margin-top:0;
}

#readout::selection{
    background: none;
    color:#f44c7f;
}

#record{
    font-weight:bold;
    font-size:20px;
    min-height: 40.5667px;
    font-family: 'Roboto', sans-serif;
    color:#333a45;
}

#record::selection{
    background: none;
    color:#f44c7f;
}

.calcContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}
    
.calc{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:400px;
    height:500px;
    border-color:none;
    background-color: #1e232a;
}

#grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width:300px;
    height:400px;
    background-color: #333a45;
    border-color: #333a45;
    border-radius:10px;
}

.button, .numButton{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:20px;
    padding:20px;
    border-radius:0;
    border-color: #333a45;
    border-width: .5px;
    border-color: #333a45;
    background-color: #333a45;
    color:#e9ecf0;
}

.button:hover{
    background-color: #e9ecf0;
    color:#323437;
}

.numButton:hover{
    background-color: #e9ecf0;
    color:#323437;
}


.operator{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    padding:20px;
    border-radius:0;
    background-color: #e9ecf0;
    color:#333a45;
    border-width: .5px;
    border-color: #333a45;
}

.operator:hover{
    background-color: #f44c7f;
}

#equal{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    padding:20px;
    border-radius:0;
    background-color: #e9ecf0;
    color:#323437;
    border-width: .5px;
    border-color: #333a45;
}

#equal:hover{
    background-color: #f44c7f;
}

#z1{
    font-family: 'Roboto', sans-serif;
    grid-column: 1 / span 2;
    font-size:20px;
    border-bottom-left-radius: 10px;
}

#clear {
    border-top-left-radius: 10px;
}

#divide{
    border-top-right-radius: 10px; 
}

#equal{
    border-bottom-right-radius: 10px;
}














